<div class="panel panel-primary checklist">
    <div class="panel-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="h4">
                        <span style="color: #ffffff;">{{checklistConfig.title}}</span>   <span class=" active badge"
                                                          data-ng-hide="checklistViewModel.isChecklistCompleted">{{checklistViewModel.badgeCount}} remaining</span>
                    </div>
                </div>

                <div class="col-md-3">
                    <button class="btn"
                            data-ng-class="checklistViewModel.currentState.buttonClass"
                            data-ng-disabled="!checklistViewModel.currentState.isEnabled">
                        {{checklistViewModel.currentState.buttonText}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body" data-ng-transclude></div>
</div>
