<div>
    <div class="row">
        <div class="col-md-12">
            <span class="h3">
                {{placematViewModel.title}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">
                        <div data-ng-transclude></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
