<div data-ng-hide="placematViewModel.shouldDisplayDetail">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <div>
                <img src="resources/add-photo-large.png" />
            </div>
            <div>
                <a href data-ng-click="placematViewModel.addAttachment()">Add Photos or Attachments</a>
            </div>
        </div>
    </div>
</div>
<div data-ng-show="placematViewModel.shouldDisplayDetail">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <span class="h6">PHOTO COUNT</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{placematViewModel.attachedFiles.length}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img data-ng-repeat="attachment in placematViewModel.attachedFiles"
                         data-ng-src="{{attachment.imageUrl}}"
                         style="width: 124px; height: 94px; padding-left: 5px; padding-right: 5px; padding-top: 5px;" />
                </div>
            </div>
        </div>
    </div>
</div>